{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'img/polarbear.ico' %}">

    <title>Contact | FRAM-2019</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="nav-title" href="{% url 'index' %}">FRAM-2019</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'map' %}"><span class="glyphicon glyphicon-globe"></span> Expedition Map</a></li>
            <li><a href="{% url 'info' %}"><span class="glyphicon glyphicon-info-sign"></span> Expedition Info</a></li>
            <li><a href="{% url 'daily' %}"><span class="glyphicon glyphicon-comment"></span> Daily Reports</a></li>
            <li><a href="{% url 'weekly' %}"><span class="glyphicon glyphicon-envelope"></span> Weekly Letters</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'links' %}"><span class="glyphicon glyphicon-link"></span> Links</a></li>
            <li class="active"><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="col-md-10 col-md-offset-1 contact-div">
        <h2>Contact Information</h2>
        <div class="contact-info">

          <br><br><br>
          <b>Principal Investigator:</b>
          Prof. Emeritus Yngve Kristoffersen<br>
          <span class="glyphicon glyphicon-earphone"></span> +47 473 18 446<br>
          <span class="glyphicon glyphicon-envelope"></span> Yngve.Kristoffersen@geo.uib.no
          <br><br>
          <b>Web Application Development:</b>
          Peder Grundvold<br>
          <span class="glyphicon glyphicon-envelope"></span> pedergrbr@gmail.com
        </div>
      </div>



  </body>
</html>
