{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'img/polarbear.ico' %}">


    <title>Info | FRAM-2019</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="nav-title" href="{% url 'index' %}">FRAM-2019</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'map' %}"><span class="glyphicon glyphicon-globe"></span> Expedition Map</a></li>
            <li class="active"><a href="{% url 'info' %}"><span class="glyphicon glyphicon-info-sign"></span> Expedition Info</a></li>
            <li><a href="{% url 'daily' %}"><span class="glyphicon glyphicon-comment"></span> Daily Reports</a></li>
            <li><a href="{% url 'weekly' %}"><span class="glyphicon glyphicon-envelope"></span> Weekly Letters</a></li>
            <li><a href="{% url 'links' %}"><span class="glyphicon glyphicon-link"></span> Links</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="col-md-8 col-md-offset-2 info-div">
        <br>
        <div class="text-body">
          <h3>Exploring the «inaccessible» part of the Arctic Ocean</h3><br>
          <p>
            <b>Preamble:</b><br>
            Reconstructions of the relative position of continental plates using the age information from
            magnetic isochrones of the oceanic crust is a powerful method to place constraints on the origin of
            outlying submarine plateaus and ridges. We consider the situation at the end of Paleocene (56
            million years ago) shown in Figure 1, left. The Eurasia Basin is closed and the position of Lomonosov
            Ridge relative to the margin north of Svalbard and Franz Josef Land is determined by matching
            magnetic isochrones ( Glebovsky et al., 2006; Gaina et al., 2002). Similarly, the Norwegian-Greenland
            Sea is closed and the position of Greenland relative to Spitsbergen is constrained from isochrones in
            the North Atlantic (Gaina et al.,2017). Several observations can be made by comparing the past and
            present configuration of areas of continental crust:</p>
          <ol type="1">
            <li>The initial position of the southern end of Lomonosov Ridge imply >200 km of contraction during the Eocene (56 – 34 million years ago)
               between the ridge and the northern part of Greenland,</li>
            <li>Morris Jesup Plateau overlap completely with Spitsbergen if we imagine the plateau had a similar position with respect to Greenland as today,</li>
          </ol>
          <p>We also look at the plate configuration at the end of Oligocene (34 million years ago) shown in Figure 1, right. The Yermak Plateau and Morris
             Jesup are juxtaposed which suggest there is at least in part a common geologic history.</p>
          <p>These issues form the scientific basis for our project to explore the offshore tectonic and depositional elements related to the separation of
             Greenland, Svalbard and the Canadian Arctic Islands.</p>
          <div class="image-box">
            <img src="{% static 'img/report_image_1.jpg' %}" alt="Image 1">
            Fig. 1 Left:	 Reconstruction of Lomonosov Ridge and Greenland relative to Svalbard. No relative		 motion is assumed between Pearya and Lomonosov Ridge.
            <br>Right:	Reconstruction for the beginning of Oligocene (Chron 13).
          </div>

          <h2>FRAM-2019</h2>
          <br>
          <table>
            <tr>
              <td valign="top">Responsible institution:</td>
              <td>Science: Department of Earth Science, Univ of Bergen<br>Field operation: Y-GEO, Bergen</td>
            </tr>
              <td valign="top">Principal Investigators:</td>
              <td>Prof. Tor Arne Johansen<br>Prof. Emeritus Yngve Kristoffersen</td>
            </tr>
            </tr>
              <td valign="top">Expedition Team:</td>
              <td>Prof. Emeritus Yngve Kristoffersen<br>Dr. Jan Erik Lie</td>
            </tr>
          </table>
          <br>
          <p>
            <b>Scientific objectives:</b><br>
            Late Cretaceous/Early Cenozoic tectonic events in West Spitsbergen, Northeast Greenland and Ellesmere Island are time equivalent,
             but the related offshore tectonic structures are unknown.
          </p>
          <p>
            <b>Geophysics:</b>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;to acquire seismic reflection and velocity information to:
            <ol type="a">
              <li>assess how the predicted compressional deformation is manifested in the complex tectonic structures collectively called the Morris Jesup Plateau north of Greenland       (Fig. 2), and</li>
              <li>establish the origin of the eastern part, the Morris Jesup Spur and the extent of early Tertiary volcanism.</li>
              <li>make video recordings of the seabed at intervals along the drift transect.</li>
            </ol>
          </p>
          <p>
            <b>Oceanography:</b>
            <ol type="a">
              <li>make measurements of temperature and salinity to full ocean depth along the drift transect.</li>
            </ol>
          </p>
          <p>
            <b>Marin biology:</b>
            <ol type="a">
              <li>Profiling the water column to 1500 m. depth with a high frequency echosounder to explore for presence of marine life.</li>
              <li>Video recording of fauna and flora in the scattering layer (upper 100 m) using an underwater drone.</li>
            </ol>
          </p>
          <p>
            <b>Sea ice:</b>
            <ol type="a">
              <li>time lapse surveillance of the local ( 1 x 1 km) environment by drone</li>
              <li>time lapse surveillance of the environment along the 7 km long seismic array</li>
              <li>underwater drone observation of ice ridging in progress</li>
            </ol>
          </p>
          <div class="image-box">
            <img src="{% static 'img/report_image_2.jpg' %}" alt="Image 2">
            Fig. 2.	The regional setting of the conceptual Fram-2019 ice drift (thick red line). Other seismic data in the area is
             from ice drift station Arlis-2 in 1965 (white track), icebreaker Polarstern (AWI) in 1991 and the Fram-2014/15 ice drift
              (red thin line). Area of magnetic field intensity >210 nT indicated by orange and area of Free Air Gravity anomaly &lt;20 mgal. by white area.
          </div>
          <br>
          <p>
            <b>Advantages of an ice covered ocean</b><br>
            The drifting sea ice in the Arctic Ocean is considered an obstacle to seismic exploration, but does
            never the less have two important advantages. Firstly, sea ice drift is mostly coherent over areas of
            tens of kilometers (Fig. 3) and enable you to maintain extended moving arrays not possible in the
            open ocean. In 1982 we successfully collected &gt;200 km of multichannel seismic data using a 2 km
            linear array of 20 sonobuoys operating for a month (Kristoffersen and Husebye, 1984). Secondly, the
            ambient noise level below the sea ice lid is below sea state 0 in the open ocean. The past Fram-
            2014/15 ice drift took advantage of this and collected 1000 km of seismic data using a 20 cuinch air
            gun and a single hydrophone to achieve 2 km of sub-bottom penetration in 3 km water depth.
          </p>
          <div class="image-box">
            <img src="{% static 'img/report_image_3.jpg' %}" alt="Image 3">
            Fig. 4  The sea ice surface moves as one coherent unit
          </div>
          <br>
          <p>
            <b>Expedition plan</b><br>
            The survey area is within the outflow of old ice out of the Arctic Ocean and not accessible to
            icebreakers, mainly because of the frequency of ice ridges where the ice thickness may exceed 8-10
            meter. The personnel (2) and equipment will be deployed by a Kenn Borek Twin Otter aircraft landing
            on the sea ice. The camp with a hut mounted on skis will drift about 5 km/day from c. 1 April through
            the summer and recovery will be by the sealing vessel Havsel in early August off the coast of
            northeast Greenland (Fig. 2).
          </p>
          <p>
            <b>Seismic data acquisition</b><br>
            The availability of Magseis and NuSeis nodes will give seismic data acquisition from drifting sea ice a
            whole new perspective. It will enable us to emulate long streamers in both in-line and cross-line
            direction - a first in the Arctic Ocean. Our in-line array (up to 7 km) will significantly exceed the
            practical streamer lengths of 300-500 meter commonly used by icebreakers in the central Arctic
            Ocean. Also, our 1-2 km wide cross-line array will facilitate the first 3-D seismic data acquisition ever
            conducted in waters fully covered by drifting sea ice. The seismic source will be limited to 40-120
            cuinch limited by compressor capacity for a shot interval of 25 meter. The water depth will for the
            most part be less than 1500 meter. Expected seismic production is ca. 300 km.
          </p>
          <p>
            <b>Safety</b><br>
            The sea ice is a safe place. Nothing hits you. Opening of cracks or compressive motion in ridges
            involve relative motion of the order of a meter minute. First year ice 1.4 m thick has the strength and
            carrying capacity required to land a Boing 737 aircraft. In the more than 50-year history of ice drift
            stations, we do not know of lives lost due to ice movement. Lives lost have been related to helicopter
            or aircraft operations.
            <br>
            The planned Fram-2019 ice camp will report to regional rescue centers and be within reach of the
            Super Puma rescue helicopter stationed in Longyearbyen, via Greenland. The area of operation will
            experience the midnight sun and full daylight for the duration of the project.
          </p>
          <p>
            <b>The legacy</b><br>
            The Arctic Ocean has experienced a 20-year period with annual seismic surveys by icebreakers driven
            by the need for documentation required to extend the EEZ. This activity has now ended, but at the
            same time outlined the limits of the capacity for seismic data acquisition by icebreakers. Unless an
            ice drift approach is used, the area north of Canada and north of Greenland will remain unexplored
            for decades to come. We expect the Fram-2019 expedition and use of nodes will demonstrate the
            potential for data quality combined with a lean logistic approach as an attractive method to explore
            the remaining inaccessible areas of the Arctic Ocean.
          </p>
        </div>


      </div>

      <div class="col-md-6 col-md-offset-3">
        <!-- Syntax stolen from weekly page -->
        <div class="weekly-info">
          <br>
          <h1>More Info</h1>
          <br>
          <h4>PDF's uploaded by the Fram Expedition Team</h4>
        </div>
        <form action="#" method="get">
          {% for infopdf in infopdfs %}
          <input class="info-files btn btn-primary" type="submit" class="btn" value="{{infopdf.filename}}" name="name"><br>
          {% endfor %}
        </form>
        <br><br><br>
      </div>
  </body>
</html>
