{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'img/polarbear.ico' %}">

    <title>Links | FRAM-2019</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="nav-title" href="{% url 'index' %}">FRAM-2019</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'map' %}"><span class="glyphicon glyphicon-globe"></span> Expedition Map</a></li>
            <li><a href="{% url 'info' %}"><span class="glyphicon glyphicon-info-sign"></span> Expedition Info</a></li>
            <li><a href="{% url 'daily' %}"><span class="glyphicon glyphicon-comment"></span> Daily Reports</a></li>
            <li><a href="{% url 'weekly' %}"><span class="glyphicon glyphicon-envelope"></span> Weekly Letters</a></li>
            <li class="active"><a href="{% url 'links' %}"><span class="glyphicon glyphicon-link"></span> Links</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="col-md-6 col-md-offset-3">
        <div class="links-page">
          <h1>Links</h1>
          <br><br>
          <h3>FRAM 2014/15 Expedition</h3>
          <h4><a href="https://sabvabaa.nersc.no/" target="_blank">Expedition Page</a></h4>
          <h4><a href="https://www.youtube.com/watch?v=PYxmPijXDYo" target="_blank">Talk by Prof. emeritus Yngve Kristoffersen</a></h4>
          <h3>Other Satellite Resources</h3>
          <h4><a href="https://worldview.earthdata.nasa.gov/" target="_blank">Worldview, by NASA</a></h4>
          <h4><a href="https://www.polarview.aq/arctic" target="_blank">Polar View</a></h4>
          <h4><a href="https://scihub.copernicus.eu/dhus/" target="_blank">Copernicus Open Access Hub</a></h4>
          <h4><a href="http://osisaf.met.no/" target="_blank">OSISAF</a></h4>
          <h4><a href="" target="_blank"></a></h4>
        </div>
      </div>

  </body>
</html>
