{% load staticfiles %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'img/polarbear.ico' %}">

    <title>Map | FRAM-2020</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- The next line is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Passing django data to external js -->
    <script>
        var positions = [];
        if ("{{ positions }}" != "None"){
                {% for layer in layers %}
                  positions.push(
                    [
                        "{{ layer.position.date }}", "{{ layer.position.grid }}",
                      {
                        'OpticClose': "{{ layer.opticclose | safe | linebreaks }}",
                        'OpticMosaic': "{{ layer.opticmos | safe | linebreaks }}",
                        'SARClose': "{{ layer.sarclose | safe | linebreaks }}",
                        'SARMosaic': "{{ layer.sarmos | safe | linebreaks }}",
                        'SeaIce': "{{ layer.seaice | safe | linebreaks }}",
                        'IceDrift': "{{ layer.icedrift | safe | linebreaks }}"
                      }
                    ]
                  )
                {% if not forloop.last %},{% endif %}
                {% endfor %}
              latestDate = "{{ default_date }}"
        }
        else{
            alert("No overlay data found!")
            latestDate = "No data"
        }
    </script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/map_controls.js' %}"></script>
    {% include 'fram/cookieconsent.html' %}
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="nav-title" href="{% url 'index' %}">FRAM-2020</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'map' %}"><span class="glyphicon glyphicon-globe"></span> Expedition Map</a></li>
            <li><a href="{% url 'info' %}"><span class="glyphicon glyphicon-info-sign"></span> Expedition Info</a></li>
            <li><a href="{% url 'daily' %}"><span class="glyphicon glyphicon-comment"></span> Daily Reports</a></li>
            <li><a href="{% url 'weekly' %}"><span class="glyphicon glyphicon-envelope"></span> Weekly Letters</a></li>
            <li><a href="{% url 'links' %}"><span class="glyphicon glyphicon-link"></span> Links</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- MAP LOGIC -->
    <div id="map" class="map">

      <div id="cross-x"></div>
      <div id="cross-y"></div>
      <div id="grid-display"></div>
      <div id="weather-display">
        <u>Wind in m/s & Temperature</u>
        <div id=weather-div-buttons>
          <div id="weather-today"></div>
          <div id="weather-tomorrow"></div>
          <div id="weather-threedays"></div>
          <div id="weather-sevendays"></div>
        </div>
      </div>
      <div class="ol-control center-view">
        <button onclick="setDefaultView()">&#9974;</button>
      </div>

      <div id="historical-div">
        {% for elem in historical %}
          <button class='btn historical-btn' id='btn-{{elem.year}}' type="button" value="{{ elem.lons }}|{{ elem.lats }}" onclick='showHistorical(this)'>{{ elem.year }}</button>
        {% endfor %}
        <span class="glyphicon glyphicon-remove" onclick="toggleHistorical()"></span>

      </div>

      <div id='LayerInfoContainer'>
        <div id='LayerInfo'></div>
        <span id="close" onclick="closeLayerInfo()">&times;</span>
      </div>
      <img src="{% static 'img/arrowdown.png' %}" alt="Arrow down" id="scroll-window" onclick="scrollWindow()">
    </div>

    <div id='dates-div'>
        <img class='arrow' src="{% static 'img/fast_arrow_left.png' %}" alt="left_arrow" id="fast-back">
        <img class='arrow' src="{% static 'img/slow_arrow_left.png' %}" alt="left_arrow" id="back">
        <span id='used-date'>{{default_date}}</span>
        <img class='arrow' src="{% static 'img/slow_arrow_right.png' %}" alt="right_arrow" id="forward">
        <img class='arrow' src="{% static 'img/fast_arrow_right.png' %}" alt="right_arrow" id="fast-forward">
    </div>

    <ul class="layercontrol-container">
    {% for name in layernames %}
      <li class="layercontrol">
        <button name="{{ name.1|rem }}" class='btn btn-primary' id="bt{{ name.0|rem }}" type="button">{{ name.0 }}</button>
        <div class='layer-options-container'>
          <input name="{{ name.1|rem }}" type="range" min="1" max="100" value="100" class="slider" id="{{ name.0|rem }}">
          <button class='layer-info' id="bt{{ name.0|rem }}Info" type="button" onclick='toggleInfo(this)'>Info</button>
        </div>
      </li>
    {% endfor %}
      <!-- Not geoserver layers -->
      <li class="layercontrol">
        <button class='btn btn-primary' id="btCrosshair" type="button" onclick='toggleCrosshair()'>Crosshair</button>
      </li>
      <li class="layercontrol">
        <button class='btn btn-primary' id="btHistorical" type="button" onclick='toggleHistorical()'>Historical Drift</button>
        <div class='layer-options-container'>
          <button class='layer-info' id="btHistoricalInfo" type="button" onclick='toggleInfo(this)'>Info</button>
        </div>
      </li>
    </ul>

    <!-- <div id="scroll-up" onclick="scrollUp()">
      &#9650;
    </div> -->

    <!-- _____ -->
  </body>
</html>
