/* Index Page */
.navbar{
    margin-bottom: 0;
    z-index: 1;
    font-size: 1.2em;
}

.nav.navbar-nav li a:hover{
    background-color: #707070;
}

.nav.navbar-nav li.active a{
   background-color: #506070;
}
.nav.navbar-nav li.active a:hover{
    background-color: #707070;
}

#nav-title{
  color: whitesmoke;
  font-size: 1.4em;
}
#nav-title:hover{
  color: #ffffff;
}

.cover-image{
  color: black;
  text-align: center;
}

/* Fix background-attachment blocked by phone/tablet browsers */
.inner-div{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('../../static/img/bg1.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.first-page{
  height:90vh;
}

#logo-full{
  width: 40%;
  margin-left: 30%;
  margin-top: 8vh;
}

.index-dropdown{
  opacity: 0.9;
  margin-top: 36vh;
  width: 80vw;
  margin-left: 10vw;
}

#dropdown-text{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20%;
  width: max-content;
  display: table;
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  text-align: center;
}

#index-dropdown{
  align-items: center;
  width: 10vw;
  cursor: pointer;
}

#index-dropdown:hover{
  margin-top: 1vh;
  }

/* For large screens */
#logo-title, #logo-flag{
  display: none;
}

#logo-full{
  display: block;
}

.second-page{
  width: 95vw;
  margin-left: 2.3vw;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 1%;
}

.second-page h3{
  padding-top: 0.5em;
}

.top-text{
  text-align: left;
  font-size: 1.3em;
  margin-left: 25%;
  width: 60%;
  margin-bottom: 1em;
}

#index-route{
  border: 2px solid black;
  width: 45vw;
  margin-bottom: 0.2em;
}

.cover-text{
  text-align: left;
  color: black;
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 1.2em;
  padding: 0.5em;
  border: solid 0.1em gray;
  padding-left: 1em;
}

.cover-text table{
  border-collapse: separate;
  border-spacing: 0 1em;
}

.cover-text td:nth-child(2){
  padding-left: 3em;
}

/* For smaller screens */
@media(max-width:1600px){

  #index-route{
    width: 50vw;
  }
  .index-dropdown{
    margin-top: 45vh;
  }
}

@media(max-width:1400px){
  #logo-full{
    width: 60%;
    margin-left: 20%;
    margin-top: 8vh;
  }

  #index-route{
    width: 60vw;
  }

  .top-text{
    margin-left: 10vw;
    width: 85vw;
  }

  #index-dropdown{
    width: 12vw;
  }
  .index-dropdown{
    margin-top: 40vh;
  }
}

/* For phones/tablets */
@media(max-width:992px){

  #logo-full{
    display: none;
  }
  #logo-title, #logo-flag{
    display: block;
  }

  #logo-title{
    margin-top: 4vh;
    width: 80vw;
    margin-left: 10vw;
  }
  #logo-flag{
    width: 40vw;
    margin-left: 30vw;
  }

  .index-dropdown{
    margin-top: 3vh;
  }

  #index-dropdown{
    width: 20vw;
  }

  .second-page h3{
   font-size: large;
  }

  .top-text{
    font-size: medium;
    margin-left: 0.1em;
  }

  #index-route{
    width: 100%;
  }
  .cover-text{
    font-size: small;
  }
}

/* Force navbar collapse earlier than native bootstrap */
@media (max-width: 1040px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media(max-width:768px){
  .first-page{
    height:89vh;
  }

  .second-page{
   padding-bottom: 3em;
  }

  .index-dropdown{
    margin-top: 20vh;
  }
}

@media screen and (max-width:600px){
  /* To fix zoomed in background on phones/tablets */
  .cover-image {
    background-size: 602px 100%;
  }

  .index-dropdown{
    margin-top: 30vh;
  }

  #index-dropdown{
    width: 25vw;
  }
}

@media(max-width:450px){
  .first-page{
    height:88vh;
  }
}

/* Flipped media screen */
@media only screen and (orientation:landscape) and (max-width:900px){
  #logo-title, #logo-flag{
    display: none;
  }

  #logo-full{
    display: block;
  }

  #logo-full{
    margin-top: 8vh;
  }

  .index-dropdown{
    margin-top: 2vh;
  }
  #index-dropdown{
    width: 15vw;
  }
  .first-page{
    height:88vh;
  }
}

/* End Index Page */
