/* Index Page */
.navbar{
    margin-bottom: 0;
    z-index: 1;
    font-size: 1.1em;
}

.nav.navbar-nav li a:hover{
    background-color: #707070;
}

.nav.navbar-nav li.active a{
   background-color: #506070;
}
.nav.navbar-nav li.active a:hover{
    background-color: #707070;
}

#nav-title{
  color: whitesmoke;
  font-size: 1.4em;
}
#nav-title:hover{
  color: #ffffff;
}

.cover-image{
  background: url('../../static/img/bg1.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  top: 0px;
  position: absolute;
  z-index: 0;
  color: black;
  text-align: center;
}

.first-page{
  height:90vh;
}

#logo-full{
  width: 40%;
  margin-left: 30%;
  margin-top: 8vh;
}

.index-dropdown{
  opacity: 0.8;
  top: 72vh;
  position: absolute;
  width: 80vw;
  margin-left: 10vw;
}

#dropdown-text{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20%;
  width: max-content;
  display: table;
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  text-align: center;
}

#index-dropdown{
  align-items: center;
  opacity: 0.95;
  width: 10vw;
  cursor: pointer;
}

#index-dropdown:hover{
  opacity: 1;
  margin-top: 1vh;
  }

/* For large screens */
#logo-title, #logo-flag{
  display: none;
}

#logo-full{
  display: block;
}

.second-page{
  width: 95vw;
  margin-left: 2vw;
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 1%;
}

.top-text{
  text-align: left;
  font-size: 1.3em;
  margin-left: 25%;
  width: 50%;
}

#index-route{
  border: 2px solid black;
  width: 40vw;
  margin-bottom: 0.2em;
}

.cover-text{
  text-align: left;
  color: black;
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 1.2em;
  padding: 0.5em;
  border: solid 0.1em gray;
}

.cover-text table{
  border-collapse: separate;
  border-spacing: 0 1em;
}


/* For smaller screens */
@media(max-width:1400px){
  #logo-full{
    width: 60%;
    margin-left: 20%;
    margin-top: 8vh;
  }

  #index-route{
    width: 60vw;
  }

  .top-text{
    margin-left: 5vw;
    width: 90%;
  }
}


/* For phones/tablets */
@media(max-width:992px){
  #logo-full{
    display: none;
  }
  #logo-title, #logo-flag{
    display: block;
  }

  #logo-title{
    margin-top: 9vh;
    width: 80vw;
    margin-left: 10vw;
  }
  #logo-flag{
    width: 40vw;
    margin-left: 30vw;
  }

  #index-dropdown{
    width: 20vw;
  }

  .second-page h3{
   font-size: large;
  }

  .top-text{
    font-size: medium;
    margin-left: 0.1em;
  }

  #index-route{
    width: 100%;
  }
  .cover-text{
    font-size: small;
  }

}


@media screen and (max-width:768px){
  /* To fix zoomed in background on phones/tablets */
  .cover-image {
    background-size: 770px 100%;
  }
}

@media(max-width:768px){
  .index-dropdown{
    top: 65vh;
  }
  .first-page{
    height:89vh;
  }
}

@media screen and (max-width:600px){
  /* To fix zoomed in background on phones/tablets */
  .cover-image {
    background-size: 602px 100%;
  }
}

@media(max-width:450px){
  .first-page{
    height:88vh;
  }
}

/* End Index Page */
