html, body {
  height: 100%;
  background-color: #232426;
  color: whitesmoke;
}

/* Navbar */
.navbar{
    margin-bottom: 0;
    background-color: inherit;
}

.nav.navbar-nav li a:hover{
    background-color: #707070;
}

.nav.navbar-nav li.active a{
   background-color: #506070;
}
.nav.navbar-nav li.active a:hover{
    background-color: #707070;
}

#nav-title{
  color: whitesmoke;
}

/* Navbar end */

.map {
  margin-top:0;
  height: 80%;
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: white;
}

.center-view {
  top: 4.5em;
  left: .5em;
  z-index: 5;
}

.remove-positions{
  left: unset;
  width: auto;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

button{
  cursor: pointer;
  background-color: darkgray;
  border-radius: 10%;
  padding: 7px 5px 7px 5px;
  border: solid 1px gray;
}
button:hover{
    background-color: #707070;
}

.btn-primary{
    color: whitesmoke;
    border: 1px white solid;
    background: transparent;
    min-width: 8em;
    margin-top: 1.5em;
}
.btn-primary:hover{
    background-color: gray;
    border: 1px white solid;
}



.layercontrol-container input{
  width: 60%;
}
.layer-info{
  width:40%;
}

.layer-options-container{
  margin-top: 5px;
  display: flex;
  visibility: hidden;
  width: 9em;
}

.layercontrol-container{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  margin-left: -3em; /* Quickfix */
  margin-top: -0.8em;
}

#btGridLines{
  margin-left: 0.3em;
}
#btCrosshair{
  margin-left: 1em;
}

/* ------------- Crosshair ------------ */
#cross-x, #cross-y{
  border: 0.5px solid red;
  z-index: 10000;
  position: absolute;
  display: none;
}

#cross-x {
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;
}

#cross-y {
    left: 50%;
    width: 1px;
    height: 100%;
    margin-left: -1px;
}

#grid-display{
  right: 1em;
  margin-top: 0.5em;
  color: white;
  display: none;
  position: absolute;
  background-color: gray;
  z-index: 100;
  padding: 0.2em;
  border-radius: 4%;
}


/* ------------- Picking Dates ------------ */
#dates-div{
    text-align: center;
    margin-top: -0.8em;
    margin-bottom: 2em;
}

#used-date{
    color: darkgray;
    font-size: 1.5em;
    padding: 2px;


}

.arrow{
    color: darkgray;
    font-size: 2.2em;
    cursor: pointer;
}

.arrow:hover{
    color: whitesmoke;
    font-size: 2.3em;
}


/* ------------- Layer Info Box ------------ */
#LayerInfoContainer{
  font-size: small;
  width: 30%;
  right: 0;
  bottom: 0;
  position: absolute;
  color: black;
  background-color: whitesmoke;
  opacity: 0.8;
  display: none;
  z-index: 7;
  border: 2px solid gray;
  border-radius: 2%;
  padding-left: 10px;
}
#close {
    position: absolute;
    top: -0.3em;
    right: 3px;
    color: #212326;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
  }
  @media only screen and (max-width: 900px) {
    #LayerInfoContainer{
      font-size: small;
      width: 50%;
    }
  }
  @media only screen and (max-width: 600px) {
    #LayerInfoContainer{
      font-size: small;
      width: 75%;
    }
  }

#close:hover,
#close:focus {
    color: #434444;
    text-decoration: none;
    cursor: pointer;
}


/* OpenLayers CSS Overrides*/
div.ol-scale-line-inner{
    color: red;
    border-color: red;
    font-size: 12px;
}

div.ol-scale-line{
   background-color: rgba(255, 255, 255, 0.1);
}

div.ol-attribution{
  display: none;
}


/* Travel Letters Page */
.letters-info{
  text-align: center;
}


/* End Travel Letters Page */
