html, body {
  height: 100%;
  background-color: #232426;
  color: whitesmoke;
}

/* Navbar */
.navbar{
    margin-bottom: 0;
    background-color: inherit;
    z-index: 1;
    font-size: 1.2em;
}

.nav.navbar-nav li a:hover{
    background-color: #707070;
}

.nav.navbar-nav li.active a{
   background-color: #506070;
}
.nav.navbar-nav li.active a:hover{
    background-color: #707070;
}

#nav-title{
  color: whitesmoke;
  font-size: 1.4em;
}
#nav-title:hover{
  color: #ffffff;
}

/* Navbar end */

.map {
  margin-top:0;
  height: 80%;
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: white;
}

.center-view {
  top: 4em;
  left: .5em;
  z-index: 5;
}

.remove-positions{
  left: unset;
  width: auto;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

button{
  cursor: pointer;
  background-color: darkgray;
  border-radius: 10%;
  padding: 7px 5px 7px 5px;
  border: solid 1px gray;
}
button:hover{
    background-color: #707070;
}

.btn-primary{
    color: whitesmoke;
    border: 1px white solid;
    background: transparent;
    min-width: 8em;
    margin-top: 0.5em;
}
.btn-primary:hover{
    background-color: gray;
    border: 1px white solid;
}



.layercontrol-container input{
  width: 55%;
}
.layer-info{
  width:40%;
}

.layer-options-container{
  margin-top: 5px;
  display: flex;
  visibility: hidden;
  width: 8.2em;
}

.layercontrol-container{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  margin-left: -3em; /* Quickfix */
  margin-top: -0.8em;
}

#btGridLines{
  margin-left: 0.115em;
}
#btCrosshair{
  margin-left: 0.215em;
}

/* ------------- Crosshair ------------ */
#cross-x, #cross-y{
  border: 0.5px solid red;
  z-index: 100;
  position: absolute;
  display: none;
}

#cross-x {
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;
}

#cross-y {
    left: 50%;
    width: 1px;
    height: 100%;
    margin-left: -1px;
}

#grid-display{
  right: 1em;
  margin-top: 0.5em;
  color: whitesmoke;
  display: none;
  position: absolute;
  background-color: #292929;
  z-index: 101;
  padding: 0.2em;
  border-radius: 4%;
  font-size: large;
}

#scroll-window{
  right: 0.8em;
  bottom: 0.8em;
  position: absolute;
  z-index: 2;
  width: 4em;
  display: none;
}

#scroll-window:hover{
  opacity: 0.85;
  bottom: 0.6em;
}


/* ------------- Picking Dates ------------ */
#dates-div{
    text-align: center;
    margin-bottom: 1em;
}

#used-date{
    color: darkgray;
    font-size: 1.5em;
    padding: 2px;


}

.arrow, #scroll-up{
    color: darkgray;
    font-size: 2.2em;
    cursor: pointer;
}

.arrow:hover, #scroll-up:hover{
    color: whitesmoke;
    font-size: 2.3em;
}

#scroll-up{
  text-align: center;
  margin: auto;
  width: 20%;
  display: none;
}

/* ------------- Layer Info Box ------------ */
#LayerInfoContainer{
  font-size: small;
  width: 30%;
  right: 0;
  bottom: 0;
  position: absolute;
  color: black;
  background-color: whitesmoke;
  opacity: 0.8;
  display: none;
  z-index: 7;
  border: 2px solid gray;
  border-radius: 2%;
  padding-left: 10px;
}
#close {
    position: absolute;
    top: -0.3em;
    right: 3px;
    color: #212326;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
  }

#close:hover,
#close:focus {
    color: #434444;
    text-decoration: none;
    cursor: pointer;
}


/* OpenLayers CSS Overrides*/
div.ol-scale-line-inner{
    color: red;
    border-color: red;
    font-size: 12px;
}

div.ol-scale-line{
   background-color: rgba(255, 255, 255, 0.1);
}

div.ol-attribution{
  display: none;
}


/* Daily Reports Page */
.daily-info, .weekly-info{
  text-align: center;
}
.info-files{
  width: 100%;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.info-div, .read-daily-div{
  text-align: center;
  background-color: whitesmoke;
  color: #040404;
}

.read-daily-div{
  padding-bottom: 20vh;
}
.read-daily-div h1{
  bottom: 0;
  position: absolute;
  font-size: 4em;
  cursor: pointer;
  color: #1C2833;
}
.read-daily-div h1:hover{
  color: black;
}

.daily-date{
  text-align: left;
  margin-bottom: -1em;
  padding-top: 0.3em;
}


/* End Daily Reports Page */

/* Info Page, Links Page */
.text-body{
  text-align: left;
}

.text-body img{
  width: 100%;
}

.text-body h2, .text-body h3, .links-page h1{
  text-align: center;
}

.text-body td:nth-child(2){
  padding-left: 3em;
  padding-bottom: 1em;
}
/* End Info Page, Links Page */

/* Contact Page */
.contact-div h2{
  text-align: center;
}

.contact-info{
  margin-left: 20%;
  width: 60%;
  font-size: medium;
}


@media(max-width:768px){
  .contact-info{
    margin-left: 3%;
    width: 94%;
  }
}

/* End Contact Page */



/* Media queries */

@media only screen and (max-width: 900px) {
  #LayerInfoContainer{
    width: 50%;
  }
  #scroll-up, #scroll-window{
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  #LayerInfoContainer{
    width: 75%;
  }

  .center-view {
    top: 4.2em;
    left: .4em;
    font-size: large;
  }

  .cover-image h3{
    font-size: medium;
  }
  .top-text{
    font-size: small;
  }
  .cover-text{
    font-size: small;
  }
}

/* Force navbar collapse earlier than native bootstrap */
@media (max-width: 1040px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
